<div ng-controller="ChallengeController" class="challenge" ng-init="loadTheBlock(); fillCounterOfferForm();">
    <bbnavbarchallenge></bbnavbarchallenge>
    <div>Submit this form to offer different terms</div>
    <br><hr>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <br>
          <div ng-show="error" class="alert alert-danger" role"alert">{{error}}</div>
          <form name="counter_offer_form" ng-submit="counter_offer(counter_offer_form)" role="form" method="POST">

              <div><h4>Email Info</h4></div>
              <div class="form-group">
                  <label for="email1">Your Email :</label>
                  <i class="fa fa-key"></i>
                  <input READONLY type="email" name="email1" id="email1" class="form-control centered" ng-model="counter_offer_form.email1" required />
                  <span ng-show="counter_offer_form.email1.$dirty && counter_offer_form.email1.$error.required" class="help-block">Initiator Email is required</span>
              </div>
              <div class="form-group">
                  <label for="email1_password">Password:</label>
                  <i class="fa fa-lock"></i>
                  <input type="password" name="email1_password" id="email1_password" class="form-control" ng-model="counter_offer_form.email1_password" required />
                  <span ng-show="counter_offer_form.email1_password.$dirty && counter_offer_form.email1_password.$error.required" class="help-block">Initiator Email Password is required</span>
              </div>
              <div class="form-group">
                  <label for="email2">Email to Challenge :</label>
                  <i class="fa fa-key"></i>
                  <input READONLY type="email" name="email2" id="email2" class="form-control centered" ng-model="counter_offer_form.email2" required />
                  <span ng-show="counter_offer_form.email2.$dirty && counter_offer_form.email2.$error.required" class="help-block">Email to Challenge is required</span>
              </div>
              <br><hr><br>
              <div><h4>Eth Account</h4></div>
              <div class="form-group">
                  <label for="eth_account1">Your Eth Account :</label>
                  <i class="fa fa-key"></i>
                  <input READONLY type="text" name="eth_account1" id="eth_account1" class="form-control centered" ng-model="counter_offer_form.eth_account1" required />
                  <span ng-show="counter_offer_form.eth_account1.$dirty && counter_offer_form.eth_account1.$error.required" class="help-block">Your Eth account is required</span>
              </div>
              <br><hr><br>
              <div><h4>Your Duolingo Info</h4></div>
              <div class="form-group">
                  <label for="duo1_username">Duo Username :</label>
                  <i class="fa fa-key"></i>
                  <input READONLY type="text" name="duo1_username" id="duo1_username" class="form-control centered" ng-model="counter_offer_form.duo1_username" required />
                  <span ng-show="counter_offer_form.duo1_username.$dirty && counter_offer_form.duo1_username.$error.required" class="help-block">Duolingo Username1 is required</span>
              </div>
              <div class="form-group">
                  <label for="duo_password">Duo Password:</label>
                  <i class="fa fa-lock"></i>
                  <input type="password" name="duo1_password" id="duo_password" class="form-control" ng-model="counter_offer_form.duo1_password" required />
                  <span ng-show="counter_offer_form.duo1_password.$dirty && counter_offer_form.duo1_password.$error.required" class="help-block">Duo1 Password is required</span>
              </div>
              <div class="form-group">
                  <label for="duo2_username">Duo Username to Challenge:</label>
                  <i class="fa fa-key"></i>
                  <input type="text" name="duo2_username" id="duo2_username" class="form-control centered" ng-model="counter_offer_form.duo2_username" required />
                  <span ng-show="counter_offer_form.duo2_username.$dirty && counter_offer_form.duo2_username.$error.required" class="help-block">Their Duolingo Username is required</span>
              </div>
              <br><hr><br>
              <!--
              Challenge Idea:
                race to the finish - whoever completes the most levels in a time period wins!
               -->
              <div><h4>Challenge Proposal</h4></div>
              <div class="form-group">
                  <label for="proposal.type">Challenge Type :</label>
                  <i class="fa fa-key"></i>
                  <input type="text" name="proposal.type" id="proposal.type" class="form-control centered" ng-model="counter_offer_form.proposal.type" required />
                  <span ng-show="counter_offer_form.proposal.type.$dirty && counter_offer_form.proposal.type.$error.required" class="help-block">Duolingo Username is required</span>
              </div>
              <div class="form-group">
                  <label for="proposal.days">Goal:</label>
                  <i class="fa fa-lock"></i>
                  <input type="number" name="proposal.days" id="proposal.days" class="form-control" ng-model="counter_offer_form.proposal.days" required />
                  <span ng-show="counter_offer_form.proposal.days.$dirty && counter_offer_form.proposal.days.$error.required" class="help-block">Duo Password is required</span>
              </div>
              <div class="form-group">
                  <label for="proposal.amount">Amount to Stake:</label>
                  <i class="fa fa-lock"></i>
                  <input type="number" name="proposal.amount" id="proposal.amount" class="form-control" ng-model="counter_offer_form.proposal.amount" required />
                  <span ng-show="counter_offer_form.proposal.amount.$dirty && counter_offer_form.proposal.amount.$error.required" class="help-block">Duo Password is required</span>
              </div>
              <br><hr><br>

              <br><br>
              <div class="form-actions">
                  <button
                    type="submit"
                    ng-disabled="form.$invalid || dataLoading ||
                        !counter_offer_form.email1 ||
                         !counter_offer_form.email1_password ||
                          !counter_offer_form.email2 ||
                           !counter_offer_form.eth_account1 ||
                            !counter_offer_form.duo1_username ||
                             !counter_offer_form.duo1_password ||
                              !counter_offer_form.proposal.type ||
                               !counter_offer_form.proposal.days ||
                                !counter_offer_form.proposal.amount"
                    class="btn btn-danger">
                  Counter Challenge
                  </button>
              </div>
              <br><br>
          </form>
      </div>
  </div>
  <br><br><br>
  <footer>
    <hr>
    <div class="col-sm-4">Another Jolly Creation 2021</div>
    <div class="col-sm-4">License: MIT</div>
    <div class="col-sm-4"><a href="https://etherscan.io/{{contract_address}}" style="text-decoration:none;" target="_blank">{{contract_address}}</a></div>
    <hr>
  </footer>
</div>
