<div ng-controller="ChallengeController" class="challenge" ng-init="loadTheBlock();">
    <bbnavbarchallenge></bbnavbarchallenge>
    <h2>{{greeting}}</h2>
    <br><hr>
    <div class="row">
      <div>Submit this form to challenge a competitor to a Dual o' Lingo</div>
      <div class="col-md-4 col-md-offset-4">
          <br>
          <div ng-show="error" class="alert alert-danger" role"alert">{{error}}</div>

          <form name="initiate_challenge_form" ng-submit="initiate_challenge(initiate_challenge_form)" role="form" method="POST">

              <div><h4>Email Info</h4></div>
              <div class="form-group">
                  <label for="initiator_email">Your Email : {{initiator_email}}</label>
                  <i class="fa fa-key"></i>
                  <input type="email" name="initiator_email" id="initiator_email" class="form-control centered" ng-model="initiate_challenge_form.initiator_email" required />
                  <span ng-show="initiate_challenge_form.initiator_email.$dirty && initiate_challenge_form.initiator_email.$error.required" class="help-block">Initiator Email is required</span>
              </div>
              <div class="form-group">
                  <label for="initiator_email_password">Password: {{initiator_email_password}}</label>
                  <i class="fa fa-lock"></i>
                  <input type="password" name="initiator_email_password" id="initiator_email_password" class="form-control" ng-model="initiate_challenge_form.initiator_email_password" required />
                  <span ng-show="initiate_challenge_form.initiator_email_password.$dirty && initiate_challenge_form.initiator_email_password.$error.required" class="help-block">Initiator Email Password is required</span>
              </div>
              <div class="form-group">
                  <label for="email_to_challenge">Email to Challenge : {{email_to_challenge}}</label>
                  <i class="fa fa-key"></i>
                  <input type="email" name="email_to_challenge" id="email_to_challenge" class="form-control centered" ng-model="initiate_challenge_form.email_to_challenge" required />
                  <span ng-show="initiate_challenge_form.email_to_challenge.$dirty && initiate_challenge_form.email_to_challenge.$error.required" class="help-block">Duolingo Username is required</span>
              </div>
              <br><hr><br>
              <div><h4>Eth Account</h4></div>
              <div class="form-group">
                  <label for="initiator_eth_account">Your Eth Account : {{initiator_eth_account}}</label>
                  <i class="fa fa-key"></i>
                  <input type="text" name="initiator_eth_account" id="initiator_eth_account" class="form-control centered" ng-model="initiate_challenge_form.initiator_eth_account" required />
                  <span ng-show="initiate_challenge_form.initiator_eth_account.$dirty && initiate_challenge_form.initiator_eth_account.$error.required" class="help-block">Your Eth account is required</span>
              </div>
              <br><hr><br>
              <div><h4>Your Duolingo Info</h4></div>
              <div class="form-group">
                  <label for="duo_username">Duo Username : {{duo_username}}</label>
                  <i class="fa fa-key"></i>
                  <input type="text" name="duo_username" id="duo_username" class="form-control centered" ng-model="initiate_challenge_form.duo_username" required />
                  <span ng-show="initiate_challenge_form.duo_username.$dirty && initiate_challenge_form.duo_username.$error.required" class="help-block">Duolingo Username is required</span>
              </div>
              <div class="form-group">
                  <label for="duo_password">Duo Password: {{duo_password}}</label>
                  <i class="fa fa-lock"></i>
                  <input type="password" name="duo_password" id="duo_password" class="form-control" ng-model="initiate_challenge_form.duo_password" required />
                  <span ng-show="initiate_challenge_form.duo_password.$dirty && initiate_challenge_form.duo_password.$error.required" class="help-block">Duo Password is required</span>
              </div>
              <br><hr><br>
              <!--
              Challenge Idea:
                race to the finish - whoever completes the most levels in a time period wins!
               -->
              <div><h4>Challenge Proposal</h4></div>
              <div class="form-group">
                  <label for="proposal.type">Challenge Type : {{proposal.type}}</label>
                  <i class="fa fa-key"></i>
                  <input type="text" name="proposal.type" id="proposal.type" class="form-control centered" ng-model="initiate_challenge_form.proposal.type" required />
                  <span ng-show="initiate_challenge_form.proposal.type.$dirty && initiate_challenge_form.proposal.type.$error.required" class="help-block">Duolingo Username is required</span>
              </div>
              <div class="form-group">
                  <label for="proposal.days">Streak Goal: {{proposal.days}}</label>
                  <i class="fa fa-lock"></i>
                  <input type="number" name="proposal.days" id="proposal.days" class="form-control" ng-model="initiate_challenge_form.proposal.days" required />
                  <span ng-show="initiate_challenge_form.proposal.days.$dirty && initiate_challenge_form.proposal.days.$error.required" class="help-block">Duo Password is required</span>
              </div>
              <div class="form-group">
                  <label for="proposal.amount">Amount to Stake: {{proposal.amount}}</label>
                  <i class="fa fa-lock"></i>
                  <input type="number" name="proposal.amount" id="proposal.amount" class="form-control" ng-model="initiate_challenge_form.proposal.amount" required />
                  <span ng-show="initiate_challenge_form.proposal.amount.$dirty && initiate_challenge_form.proposal.amount.$error.required" class="help-block">Duo Password is required</span>
              </div>
              <br><hr><br>

              <br><br>
              <div class="form-actions">
                  <button
                    type="submit"
                    ng-disabled="form.$invalid || dataLoading || !initiate_challenge_form.initiator_email || !initiate_challenge_form.initiator_email_password || !initiate_challenge_form.email_to_challenge || !initiate_challenge_form.initiator_eth_account || !initiate_challenge_form.duo_username || !initiate_challenge_form.duo_password || !initiate_challenge_form.proposal.type || !initiate_challenge_form.proposal.days || !initiate_challenge_form.proposal.amount"
                    class="btn btn-danger">
                  Initiate Challenge
                  </button>
              </div>
              <br><br>
          </form>
      </div>
  </div>
</div>
